<header>
  <nav>
    <div class="logo-container">
      <a href="/"><img src="/images/logo.png" alt="Logo" class="logo"></a>
    </div>
    <div class="pages">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/services">Services</a>
      <a href="/contact">Contact</a>
      <% if (user) { %>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
      <% } %>
      <a href="/business-contacts">Business Contacts</a>
    </div>
  </nav>
</header>
