<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Include Header -->
    <%- include('partials/header') %>

    <!-- Main Content Section -->
    <main>
      <!-- Projects Section -->
      <section class="projects">
        <h1>Projects</h1>

        <!-- Project 1 -->
        <div class="project">
          <img src="/images/project1.jpg" alt="Project 1" />
          <h2>Project 1</h2>
          <p>Gaming-Based Shopping website made for College</p>
        </div>

        <!-- Project 2 -->
        <div class="project">
          <img src="/images/project2.jpg" alt="Project 2" />
          <h2>Project 2</h2>
          <p>Bug Smasher Game made for College</p>
        </div>

      </section>
    </main>

    <!-- Include Footer -->
    <%- include('partials/footer') %>
  </body>
</html>
